// logo colors
$neon: hsl(180, 100%, 50%);

// primary colors
$black: hsl(0, 0, 0);
$white: hsl(255, 100%, 100%);

// new colors
$black_bg: hsl(247, 24%, 7%);
$white_dark: hsl(60, 100%, 100%);
$white_light: hsl(235, 15%, 70%);
$orange_dark: hsl(32, 100%, 51%);
$pink_dark: hsl(339, 78%, 55%);