.logo {
    max-width: 5.875rem;
    max-height: 5.5rem;
    cursor: pointer;

    svg {
        width: 100%;
        height: 100%;
        fill: none;

        path {
            transition: transform 0.3s;

            &:nth-child(1) {
                fill: $orange_dark;
            }

            &:nth-child(2) {
                fill: $neon;
            }

            &:nth-child(3) {
                fill: $pink_dark;
            }
        }

        &:hover path {
            &:nth-child(1) {
                transform: translate(10px, 10px);
            }

            &:nth-child(2) {
                transform: translate(-10px, -10px);
            }

            &:nth-child(3) {
                transform: translate(-10px, 10px);
            }
        }
    }
}