.header__intro {
    padding: 15rem 2rem;
    counter-increment: item;

    .container {
        max-width: 75rem;
        margin-inline: auto;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 100%;

        .left__box {
            width: 50%;

            .title__2 {
                font-size: 1.25rem;
                color: $neon;
            }

            .title__3 {
                color: $white_dark;
                font-size: 3.5rem;
            }

            .title__4 {
                color: $white_light;
                font-size: 2.75rem;
            }

            .intro__text {
                color: $white_light;
                margin-block: 1rem;
                width: 75%;
            }

            .intro__btn {
                position: relative;
                top: 3rem;
                padding: 1rem 1.5rem;
                background-color: $neon;
                color: $black_bg;
                border-radius: 0.25rem;
                border: 2px solid $neon;
                transition: background-color 0.3s, color 0.3s;
                z-index: 1;

                &:hover {
                    background-color: transparent;
                    color: $neon;
                }
            }
        }

        .right__box {
            width: 50%;

            img {
                max-width: 45rem;
                width: 100%;
            }
        }
    }

    @media (max-width: 75rem) {
        .container {
            .left__box {
                .title__2 {
                    font-size: 1.125rem;
                }

                .title__3 {
                    font-size: 3rem;
                }

                .title__4 {
                    font-size: 2.25rem;
                }

                .intro__text {
                    line-height: 1.75;
                }
            }
        }
    }

    @media (max-width: 60.5rem) {
        .container {
            width: 75%;
            flex-direction: column;
            gap: 2rem;

            .left__box,
            .right__box {
                width: 100%;
            }

            .right__box {
                margin-top: 5rem;
            }
        }
    }

    @media(max-width: 48rem) {

        .container,
        .container .left__box .intro__text {
            width: 100%;
        }
    }
}